
.button {
  -fx-background-color: LightGray;
  -fx-text-fill: #000000;
  -fx-border-width: 3;
  -fx-background-radius: 5;
  -fx-border-radius: 2;
  -fx-border-color: Gray;
}

.label {
  -fx-background-color: #000000;
  -fx-text-fill: #ffffff;
}