.root {
  -fx-font-family: Helvetia;
}

.Terminal {
  -fx-background-color: #131313;
}

.button {
  -fx-background-color: #2E2E2E;
  -fx-text-fill: #2E86AB;
  -fx-background-radius: 4;
  -fx-pref-width: 100px;
}

.button:hover {
  -fx-background-color: #2E86AB;
  -fx-text-fill: #1E1E1E;
}

.button-box {
  -fx-background-color: #222222;
}

.error-bar {
  -fx-background-color: #1E1E1E;
  -fx-fill: #CF6679;
  -fx-padding: 10;
}

.error-text {
  -fx-fill: #CF6679;
}

.input-box {
  -fx-background-color: #1E1E1E;
  -fx-text-fill: #FFFFFF;
  -fx-control-inner-background: #222222;
  -fx-prompt-text-fill: gray;
}

.display {
  -fx-border-color: #222222;
  -fx-border-width: 10;
}

.tab-pane {
  -fx-background-color: #222222;
  -fx-text-fill: #2E86AB;
}

.tab-box {
  -fx-background-color: #2E2E2E;
  -fx-text-fill: #2E86AB;
  -fx-background-radius: 4;
}

.tab-pane .tab-header-area .tab-header-background {
  -fx-opacity: 0;
}

.list-view {
  -fx-background-color: #2E2E2E;

}

.list-view .list-cell:even {
  -fx-background-color: #222222;
  -fx-text-fill: #2E86AB;
}

.list-view .list-cell:odd {
  -fx-background-color: #2E2E2E;
  -fx-text-fill: #2E86AB;
}

.color-picker {
  -fx-background-color: #2E2E2E;
  -fx-background-radius: 4 15 15 4;
}

.color-picker .color-picker-label .text {
  -fx-fill: #2E86AB;
}

.combo-box {
  -fx-background-color: #2E2E2E;
  -fx-background-radius: 4 15 15 4;
  -fx-text-base-color: #2E86AB;
}

.settings-text {
  -fx-fill: gray;
}

.tab {
  -fx-background-color: #1E1E1E;
  -fx-text-base-color: gray;
}

.tab:selected {
  -fx-background-color: #2E86AB;
  -fx-text-base-color: #1E1E1E;
}

.slider .track {
  -fx-background-color:  #2E2E2E;
}

.slider .thumb {
  -fx-background-color:  #2E86AB;
}



