.root {
  -fx-font-family: Helvetia;
}

.terminal {
  -fx-background-color: #131313;
}

.button {
  -fx-background-color: #2E2E2E;
  -fx-text-fill: #2E86AB;
  -fx-background-radius: 4;
  -fx-font-weight: bold;
}

.button:hover {
  -fx-background-color: #2E86AB;
  -fx-text-fill: #1E1E1E;
}

.button-box {
  -fx-background-color: #222222;
}

.error-label {
  -fx-text-fill: #CF6679;
}

.error-box {
  -fx-background-color: #1E1E1E;
  -fx-background-radius: 4;
}

.input-box {
  -fx-background-color: #1E1E1E;
  -fx-text-fill: #FFFFFF;
  -fx-control-inner-background: #222222;
  -fx-prompt-text-fill: gray;
}

.display {
  -fx-border-color: #2E2E2E;
  -fx-border-width: 4;
}

.tabPane {
  -fx-background-color: #222222;
  -fx-text-fill: #2E86AB;
}

.tab-box {
  -fx-background-color: #2E2E2E;
  -fx-text-fill: #2E86AB;
  -fx-background-radius: 4;
}

.list-view {
  -fx-background-color: #2E2E2E;
}

.list-view .list-cell:even {
  -fx-background-color: #222222;
  -fx-text-fill: #2E86AB;
}

.list-view .list-cell:odd {
  -fx-background-color: #2E2E2E;
  -fx-text-fill: #2E86AB;
}

.color-picker {
  -fx-background-color: #2E2E2E;
  -fx-background-radius: 0 15 15 0;
}

.color-picker .color-picker-label .text {
  -fx-fill: #2E86AB;
}

.color-picker-box {
  -fx-fill: gray;
}

.combo-box {
  -fx-background-color: #2E2E2E;
  -fx-text-base-color: #2E86AB;
  -fx-background-radius: 0 15 15 0;

}