.root{
  -fx-font-family: Helvetia;
}

.terminal {
  -fx-background-color: #131313;
}

.terminal-button {
  -fx-background-color: #2E2E2E;
  -fx-text-fill: #2E86AB;
  -fx-background-radius: 4;
}

.terminal-button:hover {
  -fx-background-color: #2E86AB;
  -fx-text-fill: #1E1E1E;
}

.button-box {
  -fx-background-color: #222222;
}

.error-label {
  -fx-text-fill: #CF6679;
}

.error-box{
  -fx-background-color: #1E1E1E;
  -fx-background-radius: 4;
}

.input-box {
  -fx-background-color: #1E1E1E;
  -fx-text-fill: #FFFFFF;
  -fx-control-inner-background:#222222;
  -fx-prompt-text-fill: gray;
}